################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurtleChallenge/bin/Debug/netcoreapp3.1
/TurtleChallenge/obj
/.vs/TurtleChallenge/v16/.suo
